.about-us {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../images/pets_about.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

.about-information {
  background-color: rgba(255, 255, 255, 0.8); }
