.contacts {
  background: linear-gradient(rgba(255, 255, 255, 0), black), url(../images/petttttt.jpg);
  background-size: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }

.form-holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 9em; }

.contact-title {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.5em;
  transition: all 4s ease-in-out; }
  .contact-title h1 {
    font-size: 1.8em; }
  .contact-title h2 {
    font-size: 1.2em; }

form {
  margin-top: 1.3em;
  transition: all 1.5s ease-in-out;
  width: 100%; }
  form .form-control {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 1.1em; }
    form .form-control::-webkit-input-placeholder {
      color: #fafafa; }
  form .bgcl {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    margin-bottom: 0.5em; }
  form input {
    height: 3em; }
  form .submit {
    background: #1C6375;
    border-color: transparent;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1em;
    width: 100%; }
    form .submit:hover {
      background: #f44336;
      cursor: pointer; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 0.1em; }
  .submit {
    white-space: normal; } }
