.index {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 3em auto; }
  .index .grid-header h1 {
    text-align: center;
    margin: 1.5em auto; }
  .index .grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%; }
    .index .grid-container .ad-container {
      display: grid;
      grid-template-columns: 39% 58%;
      grid-gap: 2%;
      -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
      box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7); }
    .index .grid-container img {
      width: 100%;
      height: auto;
      vertical-align: central; }
    .index .grid-container .ad-header {
      background-color: none;
      color: #000; }
    .index .grid-container .ad-footer {
      color: #000; }

@media screen and (max-width: 960px) {
  .index .grid-container {
    display: grid;
    grid-template-columns: 100%; }
    .index .grid-container .ad-container {
      display: grid;
      grid-template-columns: 25% 72%;
      grid-gap: 3%; }
      .index .grid-container .ad-container:nth-of-type(even) {
        direction: rtl;
        text-align: left; } }
