.index {
  width: 85%;
  align-items: center;
  justify-content: center;
  margin: 3em auto; }
  .index .grid-header h1 {
    color: #1C6375;
    text-align: center;
    line-height: 1.2em;
    margin: 1.5em auto; }
  .index .grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    line-height: 1.2em; }
    .index .grid-container .ad-container {
      display: grid;
      grid-template-columns: 39% 58%;
      grid-gap: 2%;
      align-items: center;
      -webkit-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7);
      box-shadow: 5px 6px 8px -4px rgba(0, 0, 0, 0.7); }
    .index .grid-container img {
      width: 100%;
      height: auto; }
    .index .grid-container .ad-head-container,
    .index .grid-container .ad-main-container,
    .index .grid-container .ad-foot-container {
      margin-bottom: 0.5em; }
    .index .grid-container .ad-head-container .bold,
    .index .grid-container .ad-footer-container .bold {
      color: #1C6375;
      font-weight: bold !important; }

@media screen and (max-width: 960px) {
  .index .grid-container {
    display: grid;
    grid-template-columns: 100%; }
    .index .grid-container .ad-container {
      display: grid;
      grid-template-columns: 38% 60%;
      grid-gap: 2%; }
      .index .grid-container .ad-container:nth-of-type(even) {
        direction: rtl;
        text-align: left;
        padding-left: 0.5em; } }
